<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginViper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D1E46CE1F1030AD00416A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D1E46E21F1030AD00416A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D1E46ED1F1030AD00416A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
